# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/

# Production
build
dist

# Misc
.DS_Store
*.pem
.env*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose*.yml

# CI/CD
.github
.gitlab-ci.yml

# Documentation
*.md
README.md
CHANGELOG.md

# Other
.eslintcache
.turbo
