NEXT_PUBLIC_WS_URL=wss://phirepass.com
NEXT_PUBLIC_GITHUB_CLIENT_ID=client_id
GITHUB_CLIENT_SECRET=client_secret
REDIS_DATABASE_URL=rediss://default:password@hostname:port
DATABASE_URL=postgres://user:password@hostname:port/database?sslmode=require
PGSSLROOTCERT=./certs/ca.pem
JWT_SECRET=supersecret